Pacifier/[Ll]ibrary/
Pacifier/[Tt]emp/
Pacifier/[Oo]bj/
Pacifier/[Ll]ogs/
Pacifier/[Bb]uild/
Pacifier/.*/
Pacifier/_*/
Pacifier/*.csproj
Pacifier/*.leu
Pacifier/*.unityproj
Pacifier/*.sln
Pacifier/*.suo
Pacifier/*.tmp
Pacifier/*.user
Pacifier/*.userprefs
Pacifier/*.booproj
Pacifier/*.svd
Pacifier/*.opendb
Pacifier/*.VC.db
Pacifier/*.pdb
Pacifier/*.pidb
