Tracks/Gaming/Pacifier/[Ll]ibrary/
Tracks/Gaming/Pacifier/[Tt]emp/
Tracks/Gaming/Pacifier/[Oo]bj/
Tracks/Gaming/Pacifier/[Ll]ogs/
Tracks/Gaming/Pacifier/[Bb]uild/
Tracks/Gaming/Pacifier/.*/
Tracks/Gaming/Pacifier/_*/
Tracks/Gaming/Pacifier/*.leu
Tracks/Gaming/Pacifier/*.unityproj
Tracks/Gaming/Pacifier/*.sln
Tracks/Gaming/Pacifier/*.suo
Tracks/Gaming/Pacifier/*.tmp
Tracks/Gaming/Pacifier/*.user
Tracks/Gaming/Pacifier/*.userprefs
Tracks/Gaming/Pacifier/*.booproj
Tracks/Gaming/Pacifier/*.svd
Tracks/Gaming/Pacifier/*.opendb
Tracks/Gaming/Pacifier/*.VC.db
Tracks/Gaming/Pacifier/*.pdb
Tracks/Gaming/Pacifier/*.pidb
