.buy {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.buy .div {
  background-color: #ffffff;
  height: 3333px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.buy .ellipse {
  background-color: #d9d9d9;
  border-radius: 160px;
  height: 320px;
  left: -78px;
  position: absolute;
  top: -414px;
  width: 320px;
}

.buy .frame {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 130px;
  padding: 10px;
  position: absolute;
  top: 772px;
}

.buy .text-wrapper {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.buy .div-wrapper {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 130px;
  padding: 10px;
  position: absolute;
  top: 1464px;
}

.buy .frame-2 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 130px;
  padding: 10px;
  position: absolute;
  top: 2134px;
}

.buy .overlap {
  border-radius: 20px;
  height: 473px;
  left: 137px;
  position: absolute;
  top: 885px;
  width: 371px;
}

.buy .frame-3 {
  background-color: #ffffffb2;
  border: 2px solid;
  border-color: #d9d9d9;
  border-radius: 20px;
  height: 473px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 371px;
}

.buy .text-wrapper-2 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 20px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 289px;
  white-space: nowrap;
}

.buy .p {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 300;
  left: 19px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 397px;
  width: 305px;
}

.buy .element-bed {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 337px;
  white-space: nowrap;
}

.buy .span {
  font-weight: 700;
}

.buy .text-wrapper-3 {
  font-size: 20px;
  font-weight: 300;
}

.buy .element-bath {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 115px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 337px;
  white-space: nowrap;
}

.buy .element-sqft {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 219px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 337px;
  white-space: nowrap;
}

.buy .text-wrapper-4 {
  font-weight: 300;
}

.buy .frame-4 {
  background-image: url(../img/frame-46.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 265px;
  left: 0;
  position: absolute;
  top: 0;
  width: 371px;
}

.buy .overlap-group {
  border-radius: 20px;
  height: 473px;
  left: 137px;
  position: absolute;
  top: 1555px;
  width: 371px;
}

.buy .frame-5 {
  background-image: url(../img/frame-44.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 265px;
  left: 0;
  position: absolute;
  top: 0;
  width: 371px;
}

.buy .overlap-2 {
  border-radius: 20px;
  height: 473px;
  left: 141px;
  position: absolute;
  top: 2239px;
  width: 371px;
}

.buy .frame-6 {
  background-image: url(../img/frame-51.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 265px;
  left: 0;
  position: absolute;
  top: 0;
  width: 371px;
}

.buy .overlap-3 {
  border-radius: 20px;
  height: 473px;
  left: 535px;
  position: absolute;
  top: 885px;
  width: 371px;
}

.buy .text-wrapper-5 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 18px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 289px;
  white-space: nowrap;
}

.buy .element-bed-2 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 337px;
  white-space: nowrap;
}

.buy .element-sqft-2 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 217px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 337px;
  white-space: nowrap;
}

.buy .frame-7 {
  background-image: url(../img/frame-37.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 265px;
  left: 0;
  position: absolute;
  top: 0;
  width: 371px;
}

.buy .overlap-4 {
  border-radius: 20px;
  height: 473px;
  left: 535px;
  position: absolute;
  top: 1555px;
  width: 371px;
}

.buy .frame-8 {
  background-image: url(../img/frame-45.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 265px;
  left: 0;
  position: absolute;
  top: 0;
  width: 371px;
}

.buy .overlap-5 {
  border-radius: 20px;
  height: 473px;
  left: 539px;
  position: absolute;
  top: 2239px;
  width: 371px;
}

.buy .frame-9 {
  background-image: url(../img/frame-52.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 265px;
  left: 0;
  position: absolute;
  top: 0;
  width: 371px;
}

.buy .overlap-6 {
  border-radius: 20px;
  height: 473px;
  left: 933px;
  position: absolute;
  top: 885px;
  width: 371px;
}

.buy .element {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 337px;
  white-space: nowrap;
}

.buy .frame-10 {
  background-image: url(../img/frame-39.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 265px;
  left: 0;
  position: absolute;
  top: 0;
  width: 371px;
}

.buy .overlap-7 {
  border-radius: 20px;
  height: 473px;
  left: 933px;
  position: absolute;
  top: 1555px;
  width: 371px;
}

.buy .overlap-8 {
  border-radius: 20px;
  height: 473px;
  left: 937px;
  position: absolute;
  top: 2239px;
  width: 371px;
}

.buy .frame-11 {
  background-image: url(../img/frame-53.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 265px;
  left: 0;
  position: absolute;
  top: 0;
  width: 371px;
}

.buy .frame-12 {
  background-image: url(../img/frame-55.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 442px;
  left: 660px;
  position: absolute;
  top: 2761px;
  width: 641px;
}

.buy .overlap-9 {
  height: 222px;
  left: 128px;
  position: absolute;
  top: 2870px;
  width: 532px;
}

.buy .get-local-info-on-wrapper {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
}

.buy .does-it-have-pet {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 300;
  left: 13px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 63px;
  width: 519px;
}

.buy .group {
  height: 207px;
  left: 13px;
  position: absolute;
  top: 16px;
  width: 499px;
}

.buy .overlap-group-2 {
  height: 207px;
  position: relative;
  width: 497px;
}

.buy .rectangle {
  background-color: #ffffff;
  border: 0.87px solid;
  border-color: #000000;
  border-radius: 8.69px;
  height: 61px;
  left: 0;
  position: absolute;
  top: 146px;
  width: 497px;
}

.buy .group-2 {
  height: 195px;
  left: 435px;
  position: absolute;
  top: 0;
  width: 40px;
}

.buy .ellipse-2 {
  background-color: #000000;
  border: 0.87px solid;
  border-radius: 20.23px/18.68px;
  height: 37px;
  left: 0;
  position: absolute;
  top: 158px;
  width: 40px;
}

.buy .icon-search {
  height: 20px;
  left: 10px;
  position: absolute;
  top: 168px;
  width: 23px;
}

.buy .address-city-town {
  -webkit-text-stroke: 0.87px #000000;
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 17.4px;
  font-weight: 100;
  left: 14px;
  letter-spacing: 0;
  line-height: 20.9px;
  position: absolute;
  text-align: center;
  top: 165px;
  width: 360px;
}

.buy .frame-13 {
  background-color: #000000;
  height: 715px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.buy .frame-14 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  left: 348px;
  position: absolute;
  top: 220px;
}

.buy .frame-15 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 51.94px;
  position: relative;
}

.buy .frame-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 57.14px;
  position: relative;
}

.buy .NFT-REAL-ESTATE {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 103.9px;
  margin-top: -1.3px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.buy .buy-rent-sell-invest-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
}

.buy .buy-rent-sell-invest {
  color: #ffffff;
  font-family: var(--regular-font-family);
  font-size: var(--regular-font-size);
  font-style: var(--regular-font-style);
  font-weight: var(--regular-font-weight);
  letter-spacing: var(--regular-letter-spacing);
  line-height: var(--regular-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.buy .overlap-group-wrapper {
  height: 70px;
  left: 437px;
  position: absolute;
  top: 413px;
  width: 567px;
}

.buy .overlap-group-3 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 70px;
  position: relative;
  width: 565px;
}

.buy .icon-search-wrapper {
  background-color: #000000;
  border-radius: 23px/21.5px;
  height: 43px;
  left: 494px;
  position: absolute;
  top: 14px;
  width: 46px;
}

.buy .img {
  height: 24px;
  left: 11px;
  position: absolute;
  top: 11px;
  width: 27px;
}

.buy .address-city-town-2 {
  /* color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 200;
  left: 19px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute; */
  text-align: center;
  /* top: 23px; */
  white-space: nowrap;
}

.buy .frame-16 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 134px;
  position: absolute;
  top: 29px;
  width: 1156px;
}

.buy .group-3 {
  height: 27px;
  position: relative;
  width: 74px;
}

.buy .text-wrapper-6 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.buy .navbar {
  height: 24px;
  position: relative;
  width: 443px;
}

.buy .text-wrapper-7 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 0;
  white-space: nowrap;
}

.buy .text-wrapper-8 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 70px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.buy .text-wrapper-9 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 151px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.buy .text-wrapper-10 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 251px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.buy .text-wrapper-11 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 330px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.buy .frame-17 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 32px;
  justify-content: center;
  position: relative;
}

.buy .log-in {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.buy .frame-18 {
  align-items: flex-start;
  background-color: var(--variable-collection-pri);
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000040;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.buy .text-wrapper-12 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
